<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-exif"
        version="1.0.0">

	<name>CordovaExif</name>
	<description>The simplest way to get EXIF data of images at Cordova/Phonegap platform</description>
	<license>MIT</license>
	<keywords>cordova, camera, file, exif</keywords>
	<repo>https://github.com/guilhermefarias/cordova-exif.git</repo>

	<dependency id="cordova-plugin-camera" version="^2.0.0"/>
	<dependency id="cordova-plugin-file" version="^4.0.0"/>

	<js-module src="index.js" name="CordovaExif">
		<clobbers target="window.CordovaExif"/>
	</js-module>

</plugin>
